/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id]
      ,[UserName]
      ,[Customer]
      ,[BookingID]
      ,[TotalAmount]
      ,[TCComission]
      ,[BookedAt]
      ,[Vendor]
      ,[ApiKeyEnv]
      ,[ProductKey]
      ,[ProductType]
      ,[BookingOrder]
      ,[Request]
      ,[Owner]
      ,[Record Locator]
      ,[Company]
      ,[Pax Name]
      ,[Date of Travel]
      ,[Payment Type]
      ,[Supplier Bkg Ref]
      ,[PAX SALE $]
      ,[Commissionable Trxs]
      ,[Merchant Trx $]
      ,[Comm Due $]
      ,[PAYMENT METHOD]
      ,[ACCOUNT Referral]
      ,[Account Owner]
      ,[Type]
      ,[PROFIT %]
      ,[PROFIT $]
  FROM [TCData].[dbo].[EDR]