/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[BookedItineraryId]
      ,[From]
      ,[To]
      ,[DepartureDate]
      ,[ArriavalDate]
      ,[NumberOfStops]
      ,[Class]
  FROM [dbo].[BookedLeg]