/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[Created]
      ,[BookingId]
      ,[UserId]
      ,[UserName]
      ,[ApiSessionId]
      ,[ApiRequestId]
      ,[ProductType]
      ,[ProductId]
      ,[StepName]
      ,[StepStatus]
      ,[VendorCode]
      ,[VendorName]
      ,[VendorMessage]
      ,[VendorBookingId]
      ,[ExtendedBookingId]
      ,[VendorRequest]
      ,[VendorResponse]
      ,[SubProductId]
  FROM [dbo].[BookLog]