/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[TripNo]
      ,[Owner]
      ,[Customer]
      ,[ProductType]
      ,[RequestEntity]
      ,[Prodcut]
      ,[BookingRef]
      ,[BookingStatus]
      ,[PaymentRef]
      ,[AproovingEntity]
      ,[cancelable]
      ,[Vendor]
      ,[commision]
      ,[remark]
  FROM [trums].[dbo].[BookingLog]