Vue/Frontend/node_modules/
Vue/flaskvue/backend/venv/
Vue/flaskvue/dist/static/js/1.643568217f80cd369cdf.js
Vue/flaskvue/dist/
Office_DEV/Excel_AddIn/node_modules/
Office_DEV/Excel_VSTO_AddIn/Excel_VSTO_AddIn/.vs/
Office_DEV/Excel_VSTO_AddIn/Excel_VSTO_AddIn/obj/
Office_DEV/Excel_VSTO_AddIn/Excel_VSTO_AddIn/packages/
Office_DEV/office_uploads_server/.vs/
Office_DEV/office_uploads_server/office_uploads/
