<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dokka_excel_addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dokka_excel_addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <dokka_excel_addin.Properties.Settings>
            <setting name="UploadServer" serializeAs="String">
                <value>http://api-dev.dokka.biz/api/v2/3</value>
            </setting>
        </dokka_excel_addin.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <dokka_excel_addin.Properties.Settings>
            <setting name="DokkaFilenamePat" serializeAs="String">
                <value>^Dokka#managed#file_.*_[a-fA-F0-9]{10}_*</value>
            </setting>
        </dokka_excel_addin.Properties.Settings>
    </userSettings>
</configuration>